extends layout

block content
	form(method='POST').mb-5
		.input-group
			input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name')
			.input-group-append
				button.btn.btn-primary(type='submit') submit
	p #{error}
	if list.length > 0
		//- form(method='POST' action)#form-genre
		.table-responsive
			table.table
				each item in list
					tr
						td.align-middle
							form(method='POST')
								input(type='hidden' name='action' value='edit')
								input(type='hidden' name='id' value=item._id)
								.input-group
									input(type='text' name='nameEdit' class='form-control border-0' value=item.name)
									.input-group-append
										button.btn.btn-dark(type='submit') Edit
						td.text-right
							form(method='POST')
								input(type='hidden' name='action' value='delete')
								input(type='hidden' name='id' value=item._id)
								button.btn.btn-danger(type='submit') Delete
	else
		p There are no genre.
