extends layout

block content
  if list.length > 0
    table.table-responsive
			body
		    each book in list
		      tr 
						td
			        a(href=book.url) #{book.title} 
			        | (#{book.author.name})
  else
      div There are no books.
